@use "./scss/reset";
@use "./scss/fonts";
@use "./scss/variables";

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

::selection {
	background: var(--clr-3);
	color: #fff;
}

body {
	font-family: "Urbanist", sans-serif;
	background: var(--clr-4);
	color: #fff;
}

.home {
	display: flex;
	flex-direction: column;
}

.hero {
	min-height: 100svh;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	padding: 10px;
	background-image: url("/hero-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	// background: var(--semi-tp-clr-1);
	background: rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 40px;
	width: 100%;
	// opacity: 0;
	// filter: blur(10px);
	// animation: animateHeroContainer 1s forwards;
}

// @keyframes animateHeroContainer {
// 	to {
// 		opacity: 1;
// 		filter: blur(0);
// 	}
// }

.hero__title {
	font-size: clamp(2rem, 4vw, 4rem);
	font-weight: 600;
}

.hero__subtitle {
	font-size: 20px;
}

.hero__divider {
	height: 2px;
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
}

.hero__link {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	align-self: flex-end;
}

.hero__link-container {
	height: 16px;
	overflow: hidden;
}

.hero__link-container-inner {
	display: flex;
	flex-direction: column;
	transform: translateY(-16px);
	transition: transform 0.3s;
}

.hero__link:hover {
	.hero__link-container-inner {
		transform: translateY(0);
	}
}

.about-me,
.services,
.why-me,
.contact {
	scroll-margin-top: 90px;
	margin-top: 90px;
	padding: 0 30px;
}

.about-me-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: min(100%, 1000px);
	margin: 0 auto;
}

.about-me__img {
	width: min(100%, 500px);
	border-radius: 40px;
}

.about-me__sign {
	font-family: "Ephesis", cursive;
	font-size: 4rem;
	text-align: right;
	margin-top: 10px;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.services-item {
	position: relative;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px 20px 104px 20px;
	border-radius: 40px;
	overflow: hidden;

	h3 {
		font-size: 1.5rem;
		font-weight: 600;
	}
}

.why-me-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.why-me-item {
	position: relative;
	z-index: 1;
	// background: rgba(255, 255, 255, 0.1);
	background-image: url("/bg-black.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20px 20px 104px 20px;
	border-radius: 40px;
	overflow: hidden;

	h3 {
		font-size: 1.5rem;
		font-weight: 600;
	}
}

.why-me-item__icon {
	position: absolute;
	z-index: -1;
	transform: rotateY(180deg);
	right: 0;
	bottom: 0;
	width: 100px;
}

.services-item__bg-icon-wrapper {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 100px;
	height: 100px;
	z-index: -1;
}

.services-item__bg-icon {
	filter: blur(5px);
}

.services-item__icon {
	width: 64px;
	height: 64px;
	margin-bottom: 20px;
}

h2 {
	width: max-content;
	padding: 5px;
	border-radius: 20px;
	// background: var(--clr-1);
	background: rgba(255, 255, 255, 0.1);
	height: 40px;
	color: var(--clr-2);
	font-weight: 600;
	margin-bottom: 10px;

	span {
		display: inline-block;
		border-radius: 15px;
		padding: 5px 7.5px;
		height: 30px;
	}
}

p {
	font-size: 18px;
}

// contact

.contact-container {
	display: flex;
	gap: 10px;
}

.contact-container-inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact__icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	width: 40px;
	aspect-ratio: 1/1;
	border-radius: 20px;
	color: var(--clr-2);
}

.contact__map {
	width: 100%;
	height: 400px;
	border-radius: 40px;
}

@media screen and (width < 1300px) {
	.services-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.why-me-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 900px) {
	.services-list {
		grid-template-columns: repeat(1, 1fr);
	}

	.why-me-list {
		grid-template-columns: repeat(1, 1fr);
	}

	.contact-container {
		flex-direction: column;
	}
}

@media screen and (width < 650px) {
	body {
		padding: 0 0px;
	}

	.about-me,
	.services,
	.why-me,
	.contact {
		padding: 0 10px;
	}

	.about-me-container {
		flex-direction: column;
	}
}
